{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "plugins": ["import", "react"],
    "env": { "es6": true, "browser": true, "node": true },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "webpack.config.js"
        }
      }
    },
    "rules": {
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "function-paren-newline": ["error", "multiline"]
    }
  }
  